html, body {
    font-size: 15px;
    background: greenyellow;
    font-family: 'Open Sans', sans-serif !important;
    padding: 3%;
    border: 0;
    
}

.centrar{
   border-color: aqua; 
}

h2 {
    position:relative;
    margin:0px auto;
    text-align: center;
    /*width:max-content;*/
    padding-bottom:0px;
    font-size:4.1rem;
    font-weight:300;
    letter-spacing: -0.15rem;
    color: green;
}

.members {
    max-width: 400px;
}

.hide {
    display: none;
}

label span {
    font-size: 1rem;
    color:grey;
}

/*validacion*/
p.note {
    font-size: 1rem;
    color: red;
  }

label span {
font-size: 1rem;
}

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

[type="submit"], [type="reset"], button, html [type="button"] {
    
    line-height: 1;
}